[mysqld]
pid-file        = /data/mysql/run/mysqld.pid
socket          = /data/mysql/run/mysqld.sock
datadir         = /data/mysql/data
secure-file-priv= NULL

# Custom config should go here
!includedir /etc/mysql/conf.d/
